#contact {
  margin: 2% 10% 3.6% 10%;
  padding: 50px 0;
  text-align: center;

}

#contact .drop-title {
  font-size: 60px;
  margin-bottom: 30px
}

#contact .drop-title span {
  font-weight: normal
}

#contact form {
  width: 70%;
  margin: auto;
}

#contact form input {
  box-sizing: border-box;
  outline: 0;
  padding: 5px;
  margin-bottom: 10px
}

#contact form .form-input {
  overflow: hidden
}

#contact form .form-input input {
  width: 49%;
}

#contact form .form-input input[type=text] {
  float: left
}

#contact form .form-input input[type=email] {
  float: right
}

#contact form input.sub {
  width: 100%;
}

#contact form textarea {
  width: 100%;
  outline: 0;
  background: hsl(0deg 0% 94% / 71%);
  font-size: 1.2em;
  padding: 5px;
}

#contact form input[type=submit] {
  width: 60%;
  margin-top: 1%;
  padding: 1.5% 0;
  background:var(--first-color);
  border: 1px solid var(--first-color);
  color: #fff;
  cursor: pointer
}
#contact form input[type=submit]:hover{
  background-color: hsl(31deg 87.34% 51.41%);
}

