/* ==== variables ========*/
:root {
/*========== Colors ==========*/
--first-color: hsl(31, 100%, 70%);
--button-color: hsl(0, 0%, 17%);
--button-color-alt: hsl(0, 0%, 21%);
--title-color: hsl(0, 0%, 15%);
--text-color: hsl(0, 0%, 35%);
--text-color-light: hsl(0, 0%, 55%);
--body-color: hsla(0, 0%, 100%, 0.945);
--container-color: #fff;
--border-color: hsl(0, 0%, 94%);

/*========== Font and typography ==========*/
--body-font: 'Roboto', sans-serif;
--biggest-font-size: 2rem;
--h1-font-size: 1.5rem;
--h2-font-size: 1.25rem;
--h3-font-size: 1rem;
--normal-font-size: .938rem;
--small-font-size: .813rem;
--smaller-font-size: .75rem;
/*========== Margenes ==========*/
--m-0-5: .5rem;
--m-0-75: .75rem;
--m-1: 1rem;
--m-1-5: 1.5rem;
--m-2: 2rem;
--m-2-5: 2.5rem;
--m-3: 3rem;
}
/* =============== Base ================= */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--body-color);
  color: var(--text-color);
  /*For animation dark mode*/
  transition: .4s;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}
.container {
  max-width: 1024px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}
.hide{
  display: none;
}
/*=============== HEADER & NAV ===============*/
.header {
  width: 100%;
  background: transparent;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 1.5%;
  z-index: 100;
  background-color: var(--body-color);
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__list {
  display: flex;
  flex-direction: row;
    column-gap: 2.5rem;
}
.nav__link {
  color: var(--title-color);
  font-weight: var(--font-medium);
  text-transform: uppercase;
  font-size: var(--h2-font-size);
  transition: .3s;
}

.nav__link:hover,.rightNav a:hover {
  color:var(--first-color);
  transition: ease-in-out .5s;
}
.nav__logo {
  color: var(--title-color);
  border: #000 2px solid;
}

.nav__logo {
  text-transform: uppercase;
  font-weight: var(--font-bold);
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
}
.active{
  color:var(--first-color);
}
.nav__logo-icon {
  font-size: 1.25rem;
}

.nav__btns {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.rightNav{
  display: flex;
  column-gap: 1rem; 
  color: #000;
  cursor: pointer;
}
.name{
  color: var(--first-color);
  cursor: default;
}
/* ======= cart =============== */
.cart-icon{
  text-align: right;
  font-size: larger;
  position: relative;
}
.cart-icon:hover {
  color: var(--first-color);
}
.cart-count-indicator{
  position: absolute;
  width: 17px;
  height: 16px;
  background-color: #fffffffa;
  top: 1px;
  right: -10px;
  border-radius: 50%;
  line-height: 16px;
  font-size: 14px;
  text-align: center;
  color: rgb(255, 0, 0);
}

.non-empty::after{
content: var(--after-content);
font-size: 25px;
width:25px;
display: inline-block;
text-align: center;
position: relative;
top:-20px;
right:20%;
background-color: red;
border-radius: 50%;
}

.cart-box{
  position: fixed;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  width: 40%;
  height: 100%;
  top: 0;
  right: 0%;
  padding: 3.5rem 2rem;
  transition: .4s;
  overflow: scroll;
}
.cart__close {
  font-size: 1.2rem;
  color: var(--title-color);
  position: absolute;
  top: 1.25rem;
  right: .9rem;
  cursor: pointer;
}
.cart__close:hover {
  color:red ;
}
.cart-box h2 {
  font-size: 24px;
  margin-bottom: 7%;
}
.quantity{
  display: block;
  font-size: 1.2em;
}
#cart-wrapper {
  /* margin-right: 10%; */
  margin-bottom: 20px;
}

.cancel{
  color: #e70303;
}
.cancel:hover{
  color: #ff3030;
}
.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 12.5%;
}

.cart-item img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.cart-item .details {
  flex-grow: 1;
}

.cart-item h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.cart-item p {
  font-size: 14px;
  margin-bottom: 5px;
}

.cart-item .quantity,
.cart-item .price {
  font-weight: bold;
}
/* Minus & b=plus */
.quantity-buttons{
  margin-right: 4%;
  width: 14%;
}
.minus-btn{

  margin-bottom: 50%;
}
.minus-btn i
,.plus-btn i
{
  border-radius: 50%;
  text-align: center;
  padding: 10% 12%;
  padding-top: 12%;
  font-size: .85em;
}
.minus-btn i{
  background-color: var(--border-color);
}
.minus-btn:hover,.plus-btn:hover{
  color: var(--first-color);
}
.plus-btn i{
  background-color: var(--first-color);
}
.plus-btn:hover {
  color: var(--border-color);
}
#checkout-btn{
  font-size: .9em;
  background-color: var(--first-color);
  margin-left: 25%;
  margin-top: 3%;
  padding: 4% 8%;
  color: floralwhite;
  border-radius: 4px;
}
#checkout-btn:hover{
  background-color: hsl(31, 93%, 62%);

}
.lineCart{
  margin: 5%;
  display: block;
  width: 95%;
  background-color: #96848469;
  height: 1px;
}
/* ============Slider=============== */
#slider {
  position: relative;
  margin-top: 8%;
  margin-bottom: 5%;
  justify-content: center;
  align-items: center;
  height: 300px; /* Adjust the height as needed */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#prevButton,
#nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px; 
  height: 40px; 
  background-color: var(--border-color);
  border-radius:50%;
  cursor: pointer;
  color: #000; 
}
#prevButton:hover,
#nextButton:hover{
  background-color: var(--first-color);
}
#prevButton {
  left: 10px;
}

#nextButton {
  right: 10px; 
}
/* ============ Products cards========================= */
#productContainer{
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
}
.activeBtn{
  background-color: var(--first-color);
}
.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 15px;
  margin-right: 10px;
  margin-bottom: 2%;
  width: 22%;
  color: #000;
  transition: .4s ease-in;
}
.card p,.card h4{
  margin-bottom: 5%;
  padding-left: 3%;
}
.card:hover {
  /* background-color: #686666a9; */
  background-color: #8080801c;
  
  /* color: white; */
  width: 22.5%;
}
.card:hover h4{
/* color: #fefefecb; */
}
.add-to-cart-btn,#removeBtn{
font-size: .9em;
margin-top: 3%;
padding: 4% 8%;
border-radius: 4px;
color: #fefefecb;
}
.add-to-cart-btn{
  margin-left: 22%;
  background-color: var(--first-color);
}
#removeBtn{
background-color: #968484;
padding: 4% 15%;
margin-left: 22%;
}
.add-to-cart-btn:hover{
  background-color: hsl(31deg 87.65% 62.93%);
}
.card img {
  width: 94%;
  height: auto;
  border-radius: 4px;
  margin-left: 3%;
}
.filter-btns{
/* width: 80%; */
margin: 10px;
margin-left: 4%;
margin-top: 5%;

}
.filter-btn {
  margin-left: 5px;
  padding: 10px;
  width: 18%;
  border-radius: 4px;
}
.filter-btn:hover{
  background-color: var(--first-color);
}
/*========= back to top style ========*/

#back-to-top-btn {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 18px;
  padding: 10px 11px 9px 11px;
  border-radius: 50%;
  background-color: transparent;
  color: #000;
  cursor: pointer;
  z-index: 100;
}

#back-to-top-btn:hover {
  background-color: var(--first-color);
  color: #fff;
  transition: ease-in 500ms;
}
/* ==================== FOOTER ===================== */
footer{
  width: 100%;
  background-color: var(--border-color);
  padding-bottom: .5%;
  z-index: 1;
}
footer .line{
  width: 100%;
    left: 0;
    margin-left: 0;
    min-width: initial;
    /* height: 5px; */
    border:.1px rgba(218, 214, 214, 0.822) solid;
  }
  .innerFooter{
  padding: .6% 7% .7% 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: .5%;
}
.rizqStore{
  /* margin: initial 0px 3px 20px; */
}
.rizqStore span{
  color: var(--first-color);
}
.social-buttons{
  display: flex;
  align-items: stretchcenter;
  width: 10%;
 /* margin-right: 3%; */
  justify-content: space-between
}
.social-buttons li{
  padding-right: 5%;
 
}
.social-buttons li :hover{
  color: var(--first-color);
  transition: ease-in-out .5s;
}
